/* ////////////////////////////////
* Base Styles
* ////////////////////////////////
*/

.align-center {
    text-align: center;
}

.blue-box {
    width: 200px;
    height: 200px;
    background-color: #0b97c4;
}

/* ////////////////////////////////
* Styles targeted for tablets
* ////////////////////////////////
*/
@media (min-width: 700px) and (max-width: 900px) {
    .blue-box {
        width: 300px;
        height: 300px;
    }
}

/* ////////////////////////////////
* Styles targeted for large devices
* ////////////////////////////////
*/
@media (min-width: 901px) {
    .blue-box {
        width: 400px;
        height: 400px;
    }
}
