/* ////////////////////////////////
* Base Styles
* ////////////////////////////////
*/

.align-center {
    text-align: center;
}

.blue-box {
    width: 100%;
    height: 200px;
    background-color: #0b97c4;
}

/* ////////////////////////////////
* Styles targeted for tablets
* ////////////////////////////////
*/
@media (min-width: 500px) and (max-width: 799px) {
    .blue-box {
        width: 75%;
    }
}

/* /////////////////////////////////////
* Styles targeted for large devices
* /////////////////////////////////////
*/
@media (min-width: 800px) {
    .blue-box {
        width: 50%;
    }
}
